*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Tajawal", sans-serif;
  background:linear-gradient(90deg, rgba(130,128,157,1) 0%, rgba(22,26,42,1) 100%, rgba(66,89,77,0.8182379943502824) 100%);
}
#logo {
  width: 100%;
  max-height: 1000px;
  position: relative;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em;
}

#textArea {
  justify-content: center;
  height: 50px;
  width: 40em;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  font-size: 1.3em;
  color: gray;
}
#player {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 2em;
}

