*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Tajawal", sans-serif;
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}
#logo {
  width: 100%;
  max-height: 1000px;
  position: relative;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em;
}

#textArea {
  justify-content: center;
  height: 50px;
  width: 40em;
  border: none;
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  font-size: 1.3em;
  color: gray;
}
#player {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-radius: 2em;
}

